@charset "UTF-8";
/*&:before{
  background: url("../image/sub.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 2px;
}
@include old-ie{
  *zoom: expression(
    this.runtimeStyle.zoom="1",
    this.appendChild( document.createElement("small") ).className="before"
  );
  .before{
    background: url("../image/sub.png") 0px 0px no-repeat;
    width: 20px;
    height: 12px;      
    position: absolute;
    left: -1px;
    top: 2px; 
  }
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "corinthia";
  src: url("../fonts/Corinthia.eot");
  src: url("../fonts/Corinthia.eot?#iefix") format("embedded-opentype"), url("../fonts/Corinthia.woff") format("woff"), url("../fonts/Corinthia.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.hide {
  display: none;
}

.delay-05s {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}

.delay-06s {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}

.delay-07s {
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}

.delay-08s {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}

.delay-09s {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
}

.delay-010s {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-011s {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

.delay-012s {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.delay-013s {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.delay-014s {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.delay-015s {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.delay-016s {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.delay-017s {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.delay-018s {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.delay-019s {
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}

.delay-020s {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

.hidded {
  visibility: hidden;
}

.fadeIn, .fadeInUp, .fadeOut, .fadeOutUp, .flipInX, .flipOutX, .flipInY, .flipOutY, .zoomIn, .zoomOut, .slideInLeft, .rollIn, .rollOut, .bounce, .pulse, .tada, .bounceInDown {
  visibility: visible;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #636262;
  font-size: 14px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #636262;
  font-size: 14px;
}

a {
  color: #f69c39;
}
a:visited {
  color: #f69c39;
}
a:hover {
  color: #f8a43d;
}
a:active {
  color: #f69c39;
}
a:focus {
  color: #f69c39;
}
a:focus {
  outline: none;
}

pre {
  white-space: normal;
}

h1 {
  font-family: MyriadProBold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f68a07;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.hide {
  display: none;
}

.inner {
  height: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.mycontent {
  border-top: 1px solid #bbbbbb;
  padding: 20px 0px 0px 0px;
}
.mycontent__pa {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 116px;
  bottom: 78px;
  overflow: auto;
  z-index: 1;
}

.mytitle {
  color: #727272;
  font-size: 16px;
  text-transform: uppercase;
}

.header {
  height: 96px;
  overflow: hidden;
  padding: 21px 0px 0px 0px;
}
.header__pa {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;
}
.header_top {
  font-family: corinthia;
  width: 150px;
  height: 46px;
  padding: 8px 80px 4px 0px;
  margin: 0 auto;
  background: url("../image/kiss.png") top right no-repeat;
  font-size: 40px;
  color: #f35e7c;
}
.header_bottom {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.header_bottom:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .header_bottom {
  height: 1%;
}
.header_left {
  float: left;
}
.header_right {
  float: right;
}

.social {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.social:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .social {
  height: 1%;
}
.social_title {
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.social_wrap {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  width: 90px;
  margin: 0 auto;
}
.social_wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .social_wrap {
  height: 1%;
}
.social_item {
  display: block;
  margin: 0px 15px 0px 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 29px;
  height: 29px;
  float: left;
  background: url("../image/social.png") 0px -29px no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.social__contacts .social_item {
  margin: 0px 0px 0px 7px;
  width: 25px;
  height: 25px;
  background: url("../image/social2.png") 0px -25px no-repeat;
}
.social__contacts .social_item:first-child {
  margin: 0px;
}
.social_item:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.social_item__fb {
  background-position: 0px 0px;
}
.social__contacts .social_item__fb {
  background-position: 0px 0px;
}
.social_item__ig {
  background-position: -44px 0px;
}
.social__contacts .social_item__ig {
  background-position: -32px 0px;
}
.social_item__vk {
  background-position: -85px 0px;
}
.social__contacts .social_item__vk {
  background-position: -61px 0px;
}

.mymenu {
  padding: 11px 18px 0px 18px;
}
.mymenu_list {
  text-align: center;
}
.mymenu_item {
  display: inline-block;
  padding: 0px 27px 0px 27px;
  text-align: left;
  line-height: normal;
  font-size: 14px;
  vertical-align: top;
  display: inline;
  zoom: 1;
}
.mymenu_link {
  color: #545454;
  font-size: 16px;
  font-family: arial;
  text-transform: uppercase;
  text-decoration: none;
}
.mymenu_link:visited {
  color: #545454;
}
.mymenu_link:hover {
  color: #787878;
}
.mymenu_link:active {
  color: #545454;
}
.mymenu_link:focus {
  color: #545454;
}
.mymenu_link__active {
  color: #787878;
}
.mymenu_link__active:visited {
  color: #787878;
}
.mymenu_link__active:hover {
  color: #787878;
}
.mymenu_link__active:active {
  color: #787878;
}
.mymenu_link__active:focus {
  color: #787878;
}

.phone {
  padding: 7px 0px 0px 0px;
}
.phone p {
  font-size: 24px;
  color: #545454;
  text-align: right;
}
.phone a {
  text-decoration: none;
  color: #545454;
}
.phone a:visited {
  color: #545454;
}
.phone a:hover {
  color: #545454;
}
.phone a:active {
  color: #545454;
}
.phone a:focus {
  color: #545454;
}

.footer {
  background-color: #ffffff;
  height: 78px;
}
.footer__pa {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}
.footer_text {
  font-family: corinthia;
  font-size: 35px;
  color: #f35e7c;
  width: 105px;
  padding: 26px 0px 0px 25px;
  margin: 0 auto;
  background: url("../image/heart.png") 0px 21px no-repeat;
}

.slider {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 131px;
  bottom: 78px;
  overflow: hidden;
  z-index: 1;
  margin: 0px 0px 0px 0px;
  /* DIRECTION CONTROLS (NEXT / PREV) */
}
.slider_next {
  position: absolute;
  right: 46px;
  top: 50%;
  margin-top: -22px;
}
.slider_prev {
  position: absolute;
  left: 46px;
  top: 50%;
  margin-top: -22px;
}
.slider .bx-prev {
  display: block;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 43px;
  height: 44px;
  background: url("../image/arrows.png") no-repeat;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.slider .bx-prev:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.slider .bx-prev.disabled {
  display: none;
}
.slider .bx-next {
  display: block;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 43px;
  height: 44px;
  background: url("../image/arrows.png") -43px 0px no-repeat;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.slider .bx-next:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.slider .bx-next.disabled {
  display: none;
}
.slider_list {
  height: 100%;
}
.slider .box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.slider .slides {
  height: 100%;
  /* Simple clear fix */
  overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  /**
   * Here is CSS transitions 
   * responsible for slider animation in modern broswers
   */
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slider .slide {
  height: 100%;
}
.slider .slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -22px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 43px;
  height: 44px;
  background: url("../image/arrows.png") no-repeat;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.slider .slider-arrow:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.slider .slider-arrow--right {
  bottom: 50%;
  right: 46px;
  background-position: -43px 0px;
}
.slider .slider-arrow--left {
  bottom: 50%;
  left: 46px;
}
.slider .slider-nav {
  position: absolute;
  bottom: 34px;
}
.slider .slider-nav__item {
  width: 13px;
  height: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}
.slider .slider-nav__item:hover {
  background: #9b9a9a;
}
.slider .slider-nav__item--current {
  background: #9b9a9a;
}
.slider .test {
  background-color: #ccc;
  position: absolute;
  top: 115px;
  height: 100%;
  width: 100%;
}
.slider .main {
  position: relative;
}

.bx-wrapper {
  height: 100%;
  position: relative;
  padding: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bx-viewport {
  height: 100%;
}

.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../image/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-controls {
  position: absolute;
  bottom: 32px;
  width: 100%;
}

.bx-wrapper .bx-pager {
  text-align: center;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 13px;
  height: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  outline: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #9b9a9a;
}

.contacts {
  padding: 12px 0px 0px 0px;
}
.contacts_image img {
  display: block;
  max-width: 280px;
  height: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0px auto 35px auto;
}
.contacts_text {
  max-width: 660px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
}
.contacts_text p {
  line-height: 1.5;
  margin: 0px 0px 24px 0px;
}
.contacts_phone {
  text-align: center;
  font-size: 24px;
  color: #f35e7c;
  margin: 0px 0px 15px 0px;
}
.contacts_email {
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.contacts_email a {
  color: #636262;
}
.contacts_email a:visited {
  color: #636262;
}
.contacts_email a:hover {
  color: #636262;
}
.contacts_email a:active {
  color: #636262;
}
.contacts_email a:focus {
  color: #636262;
}

.portfolio_item {
  padding: 15px 0px 0px 0px;
}
.portfolio_title {
  font-family: arial;
  font-size: 14px;
  text-transform: uppercase;
  color: #f35e7c;
  margin: 0px 0px 15px 0px;
}
.portfolio_link {
  color: #f35e7c;
  font-size: 18px;
  font-family: arial;
  text-decoration: none;
  float: right;
}
.portfolio_link:visited {
  color: #f35e7c;
}
.portfolio_link:hover {
  color: #f35e7c;
}
.portfolio_link:active {
  color: #f35e7c;
}
.portfolio_link:focus {
  color: #f35e7c;
}
.portfolio_bottom {
  display: inline-block;
  overflow: hidden;
}
.portfolio_bottom:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .portfolio_bottom {
  height: 1px;
}
.portfolio_bottom a {
  display: block;
  float: left;
  width: 284px;
  height: 189px;
  box-sizing: padding-box;
  margin: 0px 20px 20px 0px;
}
.portfolio_bottom a:nth-child(4n) {
  margin: 0px 0px 20px 0px;
}
.portfolio_bottom a img {
  display: block;
}

.user-content {
  padding: 12px 0px 0px 0px;
}
.user-content img {
  display: block;
  max-width: 280px;
  height: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0px auto 35px auto;
}
.user-content p {
  line-height: 1.5;
  margin: 0px 0px 24px 0px;
}

.trends {
  display: inline-block;
  padding: 15px 0px 0px 0px;
}
.trends:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .trends {
  height: 1px;
}
.trends_item {
  float: left;
  width: 600px;
  display: inline-block;
  position: relative;
  margin: 0px 0px 40px 0px;
}
.trends_item:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .trends_item {
  height: 1px;
}
.trends_title {
  font-family: corinthia;
  font-size: 30px;
  color: #f35e7c;
  text-align: center;
}
.trends_image {
  width: 204px;
  height: 161px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
}
.trends_text {
  font-family: arial;
  font-size: 12px;
  color: #6d6d6d;
  line-height: 1.6;
  padding: 0px 20px 0px 214px;
}
.trends_link {
  position: absolute;
  bottom: -9px;
  right: 25px;
  font-family: corinthia;
  font-size: 30px;
  color: #f35e7c;
  text-decoration: none;
}
.trends_link:visited {
  color: #f35e7c;
}
.trends_link:hover {
  color: #f35e7c;
}
.trends_link:active {
  color: #f35e7c;
}
.trends_link:focus {
  color: #f35e7c;
}
.trends_link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=all-old-ie.css.map */
