@font-face {
    font-family: "corinthia";
    src: url("../fonts/Corinthia.eot");
    src: url("../fonts/Corinthia.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Corinthia.woff") format("woff"),
    url("../fonts/Corinthia.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}