.header{
	height: 96px;
	overflow: hidden;
	padding: 21px 0px 0px 0px;
	@include respond(480){
		height: 164px;
	}
	&__pa{
		position:absolute;
		left:0px;
		right:0px;
		top:0px;
		z-index:2;
	}
	&_top{
		font-family: corinthia;
		width: 150px;
		height: 46px;
		padding: 8px 80px 4px 0px;
		margin: 0 auto;
		background: url('../image/kiss.png') top right no-repeat;
		font-size: 40px;
		color: #f35e7c;
	}
	&_bottom{
		@include def-clearfix2();
	}
	&_left{
		float: left;
		@include respond(480){
			float: none;
		}
		@include respond(1200){
			padding: 0px 0px 0px 20px;
		}
	}
	&_right{
		float: right;
		@include respond(480){
			float: none;
		}
		@include respond(1200){
			padding: 0px 20px 0px 0px;
		}
	}
	&_center{

	}
}