.mycontent{
	border-top: 1px solid #bbbbbb;
	padding: 20px 0px 0px 0px;
	&__pa{
		position: absolute;
		left: 0px;
		right: 0px;
		top: 116px;
		bottom: 78px;
		overflow: auto;
		z-index:1;
		@include respond(480){
			top: 185px;
		}
	}
}