.mymenu{
	padding: 11px 18px 0px 18px;
	&_list{
		text-align: center;
	}
	&_item{
		display: inline-block;
		padding: 0px 27px 0px 27px;
		text-align: left;
		line-height: normal;
		font-size: 14px;
		vertical-align: top;
		@include old-ie{
			display : inline;
			zoom : 1;
		}
	}
	&_link{
		@include link(#545454, #787878);
		font-size: 16px;
		font-family: arial;
		text-transform: uppercase;
		text-decoration: none;
		&__active{
			@include link(#787878, #787878);
		}
	}
}