.phone{
	padding: 7px 0px 0px 0px;
	p{
		font-size: 24px;
		color: #545454;
		text-align: right;
		@include respond(768){
			font-size: 18px;
		}
		@include respond(480){
			text-align: center;
		}
	}
}