@import "mymix";
@import "fonts";
//**********************************************************/
//**********************************************************/
body{
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0c0c;
  font-size: 14px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0c0c;
  font-size: 14px;
}
a{
  @include link(#f69c39, #f8a43d);
  &:focus{
    outline: none;
  }
}
pre{
  white-space: normal;
}
h1{
  font-family: MyriadProBold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f68a07;
}
input::-moz-placeholder {

}
textarea::-moz-placeholder {

}
input::-webkit-input-placeholder{

}
textarea::-webkit-input-placeholder{

}
input{
  &:focus{
    outline: none;
  }
}
textarea{
   &:focus{
    outline: none;
  }
}
.hide{
  display: none;
}
//**********************************************************/
//**********************************************************/